# This is a basic workflow to help you get started with Actions

name: first workflow

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  firstjob:
    runs-on: ubuntu-latest
    steps:
      - name: First step
        run: echo "This is my first job"
      - name: Second step
        run: echo "Done!"